allow bluetooth_loader persist_file:dir rw_dir_perms;
allow bluetooth_loader persist_file:file create_file_perms;
allow bluetooth_loader persist_bluetooth_file:dir rw_dir_perms;
allow bluetooth_loader persist_bluetooth_file:file create_file_perms;
r_dir_file(bluetooth_loader, persist_file)
allow bluetooth_loader persist_file:file w_file_perms;
allow bluetooth_loader persist_bluetooth_file:file w_file_perms;
allow bluetooth_loader bluetooth_prop:file r_file_perms;
